* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 30px;
    height: 250px;
    width: 80%;
    border: 1px solid black;
    overflow: auto;
    list-style: none;
}

li {
    padding: 20px;
    border: 1px solid black;
}

button {
    margin: 30px;
    width: 80%;
    height: 50px;
}